$primary-background-color: #a6eec5;
$secondary-background-color: #bce2cc;
$primary-dark-color: #3e3e3e;
$primary-light-color: #fdfdfd;
$link-color: #8a2be2;
$border-color: #718d7d;
$button-color-lighter: #312d2d;
$button-color-darker: #292525;
$lines-gradient: linear-gradient(to right, #b3d5c2 0%, $border-color 50%, #b3d5c2 100%);

$first-message-color: #e5faee;
$first-message-border-color: #bbf5d3;
$second-message-color: #f3f1fb;
$second-message-border-color: #cfc5f6;

$error-color: #db0a5b;
$error-lines-gradient: linear-gradient(to right, #d4acb7 0%, $error-color 50%, #d4acb7 100%);

$primary-scrollbar-color: #9ab4a5;
$secondary-scrollbar-color: #635c5c;