<ul class="messages-dashboard scrollbar-style">
    {{#each content}}
        <li class="message {{#if this.isAuthorMe}}message-user{{else}}message-contact{{/if}}">
            <p>{{this.message}}</p>
            {{#if this.imgSrc}}<img src={{this.imgSrc}} alt="Картинка в сообщении">{{/if}}
            <span class="dateTime">{{this.dateTime}}</span>
        </li>
    {{/each}}
</ul>