<div class="new-message-wrapper">
  <form class="new-message-form" id="new-message-form" action="" method="post" enctype="multipart/form-data">
    <label for="file-upload" class="file-upload-button">
      <img class="new-message-button" src="{{fileIconSrc}}" alt="Прикрепить картинку к сообщению">
    </label>
    <input id="file-upload" type="file"/>
    {{{textAreaNewMessage}}}
    {{{submitButton}}}
  </form>
</div>