<div class="container-enter">
    <main class="wrapper-enter">
        <h1 class="title-enter">Вход</h1>
        <form class="form-enter" action="" method="post">
            {{{inputField_login}}}
            {{{inputField_password}}}
            {{{submitButton}}}
        </form>
        {{{linkAway}}}
    </main>
</div>