<div class="container-enter">
    <main class="wrapper-enter">
        <h1 class="title-enter">Вход</h1>
        {{{formData}}}
        <div class="wrapper-link-away">
            <label>Впервые? </label>{{{linkAway}}}
        </div>
    </main>
</div>