.search{
  &-field-wrapper{
    margin-bottom: 5px;
    margin-left: 24px;
    margin-right: 15%;
    position: relative;
  }

  &-chat-contact{
    background-color: inherit;
    border-radius: 10px;
    border: 2px solid $border-color;
    font-size: 1em;
    height: 40px;
    padding: 0 5px 0 40px;
    outline: none;
    width: 100%;
    display: block;
  }
}

.search-field-wrapper:before{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 5px;
  top: 5px;
  background: $search-icon-url no-repeat;
  background-size: 30px 30px;
}