.wrapper-error-field{
  display: none;
  position: absolute;
  right: 5px;
  height: 20px;
}

.submit-button > .wrapper-error-field,
.submit-button-with-img > .wrapper-error-field{
  right: -25px;
  bottom: 15px;
  font: 16px "Raleway", sans-serif;
  text-align: initial;
  text-transform: initial;
}

.error{
  &-field-img{
    width: 20px;
    cursor: pointer;
  }
  
  &-text-absolute{
    position: fixed;
    z-index: 10;
    background-color: rgba($error-color, .8);
    color: $primary-light-color;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    max-width: 200px;
    word-wrap: break-word;
    cursor: pointer;
  }
  
  &-field{
    border-image: $error-lines-gradient 1;
  }
}