.wrapper-error-field{
  display: none;
}

.error{
  &-field-img{
    width: 20px;
  }
  
  &-text-absolute{
    position: fixed;
    z-index: 10;
    background-color: rgba($error-color, .8);
    color: $primary-light-color;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    max-width: 200px;
    word-wrap: break-word;
    cursor: pointer;
  }
  
  &-field{
    border-image: $error-lines-gradient 1;
  }
}