<div class="left-avatar-zone">
    <button type="button" class="avatar-button changeAvatarButton">
        <img id="avatar_update_icon" title="Изменить аватар" alt="Изменить аватар" src="{{{avatarUpdateIcon}}}">
        <img name="avatar" id="avatarImg" title="Изменить аватар" alt="Изменить аватар" src="{{{avatarImgSrc}}}">
    </button>
    <div class="userName">{{{userName}}}</div>
</div>