.left-avatar-zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$avatarSize: 150px;
$borderWidth: 5px;
.avatar-button{
  position: relative;
  width: $avatarSize;
  height: $avatarSize;
  border-radius: 50%;
  border: $borderWidth solid $border-color;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;

  & #avatar_update_icon{
    position: absolute;
    width: $avatarSize - 2*$borderWidth;
    height: $avatarSize - 2*$borderWidth;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  & #avatarImg{
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.userName{
  font-weight: bold;
  font-size: larger;
}
