<main class="flex-container">
    <main class="error-content-wrapper"></main>
        <h1 class="errorCode">{{errorCode}}</h1>
        <div class="errorText">{{errorText}}</div>
        <a class="linkToGoBack" href="../chat/chat.shbs">Вернуться на главную</a>
    <main class="error-content-wrapper"></main>
</main>