   .input-field{
    background: inherit;
    border: none;
    font-size: 1em;
    height: inherit;
    padding: 0 5px;
    outline: none;
    width: 100%;
  }
  
  .error-field-img{
    width: 20px;
  }
  
  .error-text-absolute{
    position: absolute;
    background-color: rgba(219, 10, 91, 0.8);
    color: #fdfdfd;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    max-width: 200px;
    word-wrap: break-word;
    cursor: pointer;
  }
  
  .error-field{
    border-image: linear-gradient(to right, rgb(212 172 183) 0%, rgb(219, 10, 91) 50%, rgb(212 172 183) 100%);
    border-image-slice: 1;
  }