<ul class="chat-contacts-list">
  {{#each contacts}}
  <li class="tab"><img class="avatar" src="{{this.imgSrc}}" alt="Аватар собеседника">
      <p hidden id="id">{{this.id}}</p>
      <a class="tab-link" href="#">{{this.name}}</a>
  </li>
  {{/each}}
</ul>
