.profile-container{
  background-color: $primary-light-color;
  background-image: url("https://images.unsplash.com/photo-1618215808516-de9e35674a8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGdyZWVuJTIwYW5kJTIwd2hpdGV8ZW58MHx8MHx8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.profile-wrapper{
  margin: 0 auto;
  min-width: 600px;
  background: rgba($primary-light-color, .8);
  border-radius: 10px;
  overflow: hidden;
  padding: 35px 25px;
  box-shadow: 0 5px 10px 0 rgba(black, .2);
  display: flex;
  justify-content: space-between;
}

.left-avatar-zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-info-zone{
  padding: 0 15px;
  flex-grow: .5;
  border-left: 3px solid;
  border-color: $primary-light-color;
}

.userName{
  font-weight: bold;
  font-size: larger;
}

.avatar-button{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid $border-color;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;

  & #avatarImg{
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.contact-profile-container{
  display: flex;
  flex-direction: column;
  height: 100%;

  & .form-field-wrapper{    
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;

    &:last-child{
      margin-bottom: 0;
    }
  }

  & .field-label{
    font-size: larger;
    margin-right: 10px;
  }

  & .input-field{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid $border-color;
    outline: none;
    
    &:read-only{
      direction: rtl;
      padding-right: 10px;
      
      &::placeholder{
        color: $primary-light-color;
      }
    }
  }

  & .submit-button{
    margin-top: 40px;
  }
}

.data-change-section .input-field:read-write{
  width: 100%;
  padding-left: 10px;
}

.control-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;
  margin-top: 15px;

  & *{
    font-family: inherit;
    padding: 3px 0;
    font-size: large;
    font-weight: bold;
    color: $primary-dark-color;
  }

  & .control-container-button{
    cursor: pointer;

    &:hover{
      color: $link-color;
    }
  }

  & .go-away-link{
    text-decoration: none;
    align-self: end;
  }
}

.password-change-section{
  width: 100%;

  & .submit-button{
    width: 80%;
    align-self: center;
  }

  & .input-field::placeholder{
    color: $primary-light-color;
  }
}