{{#if contactId}}
<div class="filledContactInfo">
  {{{contentInfo}}}
  {{{messagesDashboard}}}
  {{{newMessageForm}}}
</div>
{{else}}
<div class="emptyContactInfo">
  <p>Выберите чат, чтобы отправить сообщение</p>
</div>
{{/if}}