<div {{#if hidden}}hidden{{/if}} class="password-change-section">
    <form class="contact-profile-container">
        {{{inputField_oldPassword}}}
        {{{inputField_newPassword}}}
        {{{inputField_confirmPassword}}}
        {{{submitButton}}}
    </form>
</div>