<div class="modal-container-changeAvatar">
  <form class="changeAvatar-wrapper">
    <button type="button" class="modal-closeButton">
      <img src="{{closeButtonImgSrc}}" width="24" title="Закрыть" alt="Закрыть окно">
    </button>
    <p class="changeAvatar-title">Загрузите файл</p>
    <label for="avatar" class="changeAvatar-file-upload">
      <img id="avatarImgPreview" src="{{addFileImgSrc}}" alt="Загрузить изображение">
    </label>
    {{{inputField}}}
    {{{submitButton}}}
  </form>
</div>
