@import "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Raleway", sans-serif;
  color: $primary-dark-color;
}

a{
  color: $primary-dark-color;

  &:hover {
    color: $link-color;
  }
}

button{
  border: none;
  background: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 9999s ease-out, background-color 9999s ease-out;
  transition-delay: 9999s;
} 