$primary-background-color: #a6eec5;
$primary-dark-color: #3e3e3e;
$primary-light-color: #fdfdfd;
$link-color: #8a2be2;
$border-color: #718d7d;
$button-color: #292525;
$lines-gradient: linear-gradient(to right, #b3d5c2 0%, $border-color 50%, #b3d5c2 100%);

$error-color: #db0a5b;
$error-lines-gradient: linear-gradient(to right, rgb(212 172 183) 0%, $error-color 50%, rgb(212 172 183) 100%);