<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
      <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
      <link rel="stylesheet" href="{{pathToLayout}}/layout/base.scss">
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
