*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
  color:  #3e3e3e;
}

a:hover {
  color: #8a2be2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: color 9999s ease-out, background-color 9999s ease-out;
    transition-delay: 9999s;
} 