<div class="contact-info">
  <img src="{{contactInfo.imgSrc}}" class="contact-avatar" alt="Аватар собеседника">
  <span class="contact-name">{{contactInfo.name}}</span>
  <div class="contactMenu-wrapper">
    {{{contactMenuButton}}}
    <div hidden class="contactMenu-panel">
      <a class="addContact contactMenu-link">Добавить пользователя</a>
      <a class="deleteContact contactMenu-link">Удалить пользователя</a>
    </div>
  </div>
</div>