<main class="chat">
  <nav class="chat-contacts-panel">
    {{{linkAway}}}
    {{{searchInput}}}
    <div class="wrapper-chat-contacts-list scrollbar-style">
        {{{contacts}}}
    </div>
  </nav>
  <section class="content">
      {{{content}}}
  </section>
</main>